.principal {
  text-align: center; /* Garante que o texto e ícones estejam centralizados */
  /* Remove qualquer padding-bottom grande que possa estar empurrando os ícones para cima */
  padding-bottom: 0; /* Ou um valor pequeno, se quiser um espaçamento extra */
}
.start{
  font-size: 2em;
  text-align: left;

}


.icons {
  margin-top: 20px; /* Espaço acima dos ícones */
}

.icons a {
  margin: 0 10px; /* Espaço entre os ícones */
  display: inline-block;
}