* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  width: 100%;
  background-color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  color: #ECEFEE;
}

.terminal {
  height: 100%;
  width: 100%;
  background-color: #050908;
  display: flex;
  flex-direction: column;
}

.terminal-header {
  background-color: #1b825e;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.terminal-header .button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.terminal-header .close {
  background-color: #ff5f56;
}
.terminal-header .minimize {
  background-color: #ffbd2e;
}
.terminal-header .maximize {
  background-color: #27c93f;
}

.terminal-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 20px;
  
}

.bloco {
  display: flex;
  height: 100vh; 
  align-items: center; 
  justify-content: center; 
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  
  position: relative; 
}


.bloco::after { 
  content: '';
  position: absolute;
  bottom: 50px; 
  left: 50%;
  transform: translateX(-50%); 
  width: 0;
  height: 0;
  border-left: 15px solid transparent; /* Tamanho da seta P LADO ESQUERDO */
  border-right: 15px solid transparent; /* Tamanho da seta P LADO DIREITO*/
  border-top: 90px solid #ECEFEE; /* Cor e direção da seta */
  animation: bounce 1s infinite alternate; /* animação  */
}

@keyframes bounce {
  from {
    transform: translateX(-50%) translateY(0);
  }
  to {
    transform: translateX(-50%) translateY(10px); /*seta para baixo */
  }
}


.sobre{
 margin-top: 60vh;
}

.projects{
 margin-top: 60vh;
}